<div class="row forgot-password-form">
  <div class="col">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-9 col-lg-4">
        <img
          class="m-auto"
          style="width: 90%"
          src="assets/images/forgot-password.svg"
          alt="Forgot Password Art"
        />
      </div>
      <div class="col-12 col-lg-4">
        <form *ngIf="true" class="px-3 w-100" [formGroup]="forgotPasswordForm">
          <h1 class="text-center mb-3">Forgot Password?</h1>
          <p>
            No need to worry. A password reset link will be sent to your
            registered email to reset your password.
          </p>
          <div>
            <input
              type="email"
              class="form-control my-2"
              placeholder="Registered Email"
              formControlName="email"
              (change)="onFormDataChange($event)"
            />
            <div class="invalid-feedback">Invalid email</div>
          </div>
          <button
            type="submit"
            class="btn btn-dark my-3 w-100"
            [disabled]="forgotPasswordForm.invalid"
            (click)="onClickSendEmailBtn()"
          >
            Send Password Reset Email
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
