<div class="row change-password-form">
  <div class="col">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-9 col-lg-4">
        <img
          class="m-auto"
          src="assets/images/reset-password.svg"
          alt="Sign In Art"
        />
      </div>
      <div class="col-12 col-lg-4">
        <form *ngIf="true" class="px-3 w-100" [formGroup]="changePasswordForm">
          <h1 class="text-center mb-3">Change Password</h1>
          <div>
            <input
              type="password"
              class="form-control my-2"
              placeholder="Old Password"
              formControlName="oldPassword"
              (change)="onFormDataChange($event)"
            />
          </div>
          <div>
            <input
              type="password"
              class="form-control my-2"
              placeholder="New Password"
              formControlName="newPassword"
              (change)="onFormDataChange($event)"
            />
            <div class="invalid-feedback">
              Invalid password. A valid password should contain:
              <ul>
                <li>Minimum 8 characters</li>
                <li>Maximum 24 characters</li>
                <li>At least an upper-case chatacter</li>
                <li>At least a lower-case chatacter</li>
                <li>At least a numeric character</li>
                <li>At least a special chatacter</li>
              </ul>
            </div>
          </div>
          <div>
            <input
              type="password"
              class="form-control my-2"
              placeholder="Confirm New Password"
              formControlName="confirmNewPassword"
              (change)="onFormDataChange($event)"
            />
            <div class="invalid-feedback">
              Confirm password should match with above password
            </div>
          </div>
          <p>Forgot Password? <a href="auth/signup">Click Here</a></p>
          <button
            [disabled]="changePasswordForm.invalid"
            type="submit"
            class="btn btn-dark my-3 w-100"
            (click)="onChangePasswordBtnClick($event)"
          >
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
